@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }

body {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

button {
  @apply m-2 border-2 rounded-lg py-1 px-2 text-base transition-all duration-300 ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {}

  button {
    @apply text-btnLight border-btnLight bg-btnDark; 
  }
  button:hover {
    @apply shadow-btnShadowLight text-btnDark border-btnDark bg-btnLight;
  }
}

@media (prefers-color-scheme: light) {
  
  button {
    @apply text-btnDark border-btnDark bg-btnLight; 
  }
  button:hover {
    @apply shadow-btnShadowDark text-btnLight border-btnLight bg-btnDark;
  }
}
